body{
	background-color:black;
	color:#edecff; 
	margin-top: 1em;
	overflow-y: auto;
}
body, html {
    overflow-x: hidden;
}



.thumbnail1 img{
	width: 100%;
}

.thumbnail11 img{
	width: 95%;
	max-width: 600px;
	mix-blend-mode: lighten;
	margin-top: -1.9em;
	margin-bottom: 3em;
}

.image-title22{
	margin-top: -3.3em;
	margin-bottom: 4em;
	max-width: 600px;
	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}
.image-title23{
	margin-top: -3.3em;
	margin-bottom: 7.7em;
	width: 100%;
	max-width: 600px;
	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}


	
.score{
	font-family: 'M PLUS 1', sans-serif;
	margin-top: -2em;
	font-size: 1em;
}












.work_headline{
	display: inline-block;
    justify-content:left; /* Adjust as needed */
    gap: 0.25em;
    font-family: 'Maitree', serif;
    color: rgb(242, 244, 254);
    margin-left: 3%;
    text-align: left;
}

.work_title{
	font-size: 1.8em;
	margin-bottom: -.2em;
}
.work_year{
	font-size: 1em;
	margin-top: .6em;
}
.work_duration{
	font-size: .85em;
	margin-top: .78em;
	margin-left: .25em;
}
.work_title2{
	font-size: 1.32em;
}
.work_year2{
	font-size: .9em;
	margin-top: .4em;
}
.work_duration2{
	font-family: 'Anek Gujarati', serif;
	font-size: .8em;
	margin-top: .9em;
	margin-left: 0em;
	margin-bottom: 1em;
}
.work_title_korean{
font-family: 'Noto Serif KR', serif;
font-weight: 300;
font-size: 1.25em;
margin-bottom: .3em;
}
.work_title_korean2{
	font-family: 'Noto Serif KR', serif;
	font-weight: 300;
	font-size: 1.1em;
	}
.work_title_sub{
	margin-top: .29em;
	font-size: 1em;
}

.one_title{
	display: flex;
	gap:.3em;
}

@media screen and (min-width: 600px){
	.work_headline{
		margin-top: 8em;
	}
	.work_year2{
		margin-left: .6em;
	}
	.work_firstline{
		display: flex;
	}
}



.line{
	margin-top: 1em;
	color:#edecff; 
	height: 0px;

}
.line2{
	margin-top: -2.05em;
}




.o8kk{
margin-top:-4em;
margin-bottom:-16em;
	padding-bottom:-5em;

}



.bio_intro{
	text-align: left;
	color:#edecff; 
	padding: .5em;
	letter-spacing: .005em;
	line-height: 1.7em;
	margin-bottom: 3em;
	max-width: 800px;
	margin-bottom: -5em;

}
.bio{
	margin-top: 3em;
	font-family: 'M PLUS 1', sans-serif;
	text-align: left;
	padding: .5em;
	letter-spacing: .005em;
	line-height: 1.7em;
	max-width: 800px;
}
.bio_englishname{
	font-family: "Urbanist", sans-serif;
	font-size: 1.7em;
	margin-bottom: 0.4em;
	max-width: 200px;
}
.bio_koreanname{
	align-items: end;
}

.bio_name{
	font-family: "Nanum Myeongjo", serif;
	font-size: 2.4em;
	margin-bottom: .47em;
	margin-top: 1em;
	display: flex;
}
.bio_name img{
 max-width: 180px;
 mix-blend-mode: lighten;
 margin-top: -1.6em;
 margin-left: -3.5em;
}

.bio_name2{
	margin-top: -.7em;
}



.haran{
	margin-top: .17em;
	padding-right: .8em;
}

.bio_role b{
	font-family: "Marcellus", serif;
	font-weight: 300;
	font-size: 1em;

}
.bio_paragraph_intro{
	margin-bottom: .8em;
	margin-top: -1em;
}
.bio_paragraph0{
	max-width: 690px;
}
.bio_paragraph{
	font-family: "Red Hat Text", sans-serif;
	margin-bottom: 1.2em;
	line-height: 2.2em;
	font-size: 1.0em;
}

.bio_paragraph2{
margin-top: -.7em;
}


.bio_paragraph_artist{
	font-family: "Red Hat Text", sans-serif;
	font-size: 1.0em;
	line-height: 2.2em;
	
	margin-bottom: 1.2em;
	margin-top: 5.5em;

	padding-top: 3%;
	padding-bottom: 3%;
}
	

.bio_paragraph_work{
display: inline-block;
    justify-content:left; 
    gap: 0.25em;
    font-family: 'Maitree', serif;
  color:#edecff; 
    margin-left: 3%;
    text-align: left;
	margin-bottom: 10em;
	line-height: 2.2em;
	font-size: 0.78em;
}

.aeng_sta{
color: #edecff;
}



.artist{
	font-size: 1.1em;
}


.email2{
	margin-bottom: 0em;

}
.email3{
	margin-left: 3.4%;
	margin-bottom: -1.6em;
	color:#edecff; 
	font-family: "Saira Condensed", sans-serif;
}


@media screen and (min-width: 470px){

	.bio_name{
			font-size: 2.4em;
	}
	.bio_name img{
		margin-top: -1.6em;
		margin-left: -2.8em;
	}
	.bio_role{
		font-size: 1.1em;
	}
	.bio_paragraph_artist{
		margin-left: 0em;
	}
	.bio_intro{
		margin-bottom: 3em;
	}	
}


@media screen and (min-width: 570px){

	.bio_background{
		margin-left: -10%;
		margin-right: -125%;
		}
}

@media screen and (min-width: 820px){

.bio_paragraph0{
	margin-left:10%;
	margin-right:10%;
}
}


@media screen and (min-width: 900px){
	.bio{
		font-size: .85em;
	}
	.bio_paragraph_work{
		font-size: 1em;
	}
}

@media screen and (min-width: 1000px){	
.bio_intro{
	font-size: .9em;
	}
	
.bio_background{
	margin-left: -10%;
	margin-right: -125%;
	}
	.bio_name img{
		max-width: 200px;
	}
	.bio_name2{
		margin-top: -1.7em;
	}
}






.site-footer {
	margin-top: 12em;
}
.site-footer p{
	font-family: 'M PLUS 1', sans-serif;
	color: rgb(239, 239, 255);
	font-size: 0.85em;
	margin-left: 3.2%;
	margin-top: 0em;
	padding-top: 1em;
}

.icons{
	display: flex;
	margin-left: 3.2%;
	gap: 1em;

}

.youtube img{
	margin-top: .08em;
	width: 35px;
}
.instagram img{
	margin-top: 5px;
	margin-left: -5px;
	width: 26px;
}

.youtube svg{
		stroke-width: 1px; 
		fill: none;
}


@media screen and (min-width: 700px){
	.site-footer{
		margin-right: -2.5%;
		margin-left: -2.5%;
	}

}
