body{
	background-color:black;
	margin-top: 1em;
	overflow-x: hidden;
	overflow-y: auto;
}
body, html {
    overflow-x: hidden;
}


.thumbnails{ 
	display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
	gap: 1em;
}
.thumbnails img{
	transition: transform 0.2s;
	margin-bottom: -1.7em;
}
.thumbnail1 img{
	width: 122%;
	margin-left: -11%;
	max-width: 900px;
	mix-blend-mode: lighten;
	margin-top: -2.9em;
	margin-bottom: -3.2em;
}

.thumbnail11 img{
	width: 122%;
	margin-left: -11%;
	max-width: 600px;
	mix-blend-mode: lighten;
	margin-top: -1.9em;
	margin-bottom: 3em;
}
.thumbnail12 img{
	width: 100%;
	max-width: 600px;
	mix-blend-mode: lighten;
	margin-top: -1.9em;
	margin-bottom: 3em;
}


.thumbnail12_hee img{
	width: 100%;
	max-width: 450px;
	mix-blend-mode: lighten;
	margin-top: -1.9em;
	margin-bottom: 3em;
}
.image-title22{
	margin-top: -3.3em;
	margin-bottom: 4em;
	max-width: 600px;
	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}
.image-title23{
	margin-top: -3.3em;
	margin-bottom: 7.7em;
	width: 100%;
	max-width: 600px;
	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}



.thumbnail12_aeng img{
	width: 100%;
	mix-blend-mode: lighten;
	margin-top: -1.9em;
	margin-bottom: 3em;
}
.thumbnail12_find_aeng img{
	width: 100%;
	mix-blend-mode: lighten;
	margin-top: -1.9em;
	margin-bottom: 3em;
}
.thumbnail12_found_aeng img{
	width: 100%;
	mix-blend-mode: lighten;
	margin-top: -1.9em;
	margin-bottom: 3em;
}

.image-title23_aeng{
	margin-top: -3.3em;
	margin-bottom: 7.7em;
	width: 100%;
	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}
.image-title23_find_aeng{
	margin-top: -3.3em;
	margin-bottom: 7.7em;
	width: 100%;

	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}
.image-title23_found_aeng{
	margin-top: -3.3em;
	margin-bottom: 7.7em;
	width: 100%;
	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}
.image-title23_hee{
	margin-top: -3.3em;
	margin-bottom: 7.7em;
	width: 100%;
	max-width: 450px;
	font-family: 'M PLUS 1', sans-serif;
	text-align: center;
	font-size: .8em;
	color:#d1d4eb; 
	letter-spacing: .005em;
}




.aeng_sta{
	color:#dedfec; 
}
	
.score{
	font-family: 'M PLUS 1', sans-serif;
	margin-top: -2em;
	font-size: 1em;
}


.thumbnail1-2 img{
	margin-top: -1.2em;
	margin-bottom: -1.9em;
	width: 100%;
	max-width: 900px;
	filter: brightness(74%);
	mix-blend-mode: lighten;
}
.thumbnail1-3 img{
	margin-top: -10em;
	margin-bottom: .5em;
	width: 100%;
	max-width: 900px;
	filter: brightness(60%);
	mix-blend-mode:difference;
}
.thumbnail1-4 img{
	margin-top: 4.3em;
	margin-bottom: -1.7em;
	width: 100%;
	max-width: 900px;
	filter: brightness(40%) saturate(20%);
	mix-blend-mode:difference;
}
.thumbnail1-5 img{
	margin-top: 0em;
	margin-bottom: -18%;
	width: 100%;
	max-width: 900px;
	filter: brightness(60%);
	mix-blend-mode:difference;
}
.thumbnail2 img{
	width: 100%;
	max-width: 900px;
	mix-blend-mode: lighten;
}
.thumbnail3 img{
	margin-top: .2em;
	width: 100%;
	max-width: 900px;
	mix-blend-mode: lighten;
}
.thumbnail4 img{
	margin-top: 5em;
	margin-bottom: 3em;
	margin-left: 18%;
	width: 66%;
	max-width: 600px;
	mix-blend-mode: lighten;
}
.thumbnail5 img{
	margin-top: 3em;
	margin-bottom: 3em;
	width: 100%;
	max-width: 600px;
	mix-blend-mode: lighten;
}

.hexurgy{
	display: flex;
}



.thumbnail1 img:hover {
	cursor: pointer;
}
.thumbnail2 img:hover {
	cursor: pointer;
}
.thumbnail3 img:hover {
	cursor: pointer;
}
.thumbnail4 img:hover {
	cursor: pointer;
}



@media screen and (min-width: 470px){
	.thumbnail1 img{
	width: 110%;
	margin-left: -5%;
	margin-bottom: -1.8em;
	}
	.thumbnail11 img{
		width: 110%;
		margin-left: -5%;
	}
	.hee_div{
		display: flex;
		gap:3em;
	}
	.image-title23_hee{
		max-width: 320px;
	}
	.thumbnail12_hee img{
		max-width: 320px;
	}
}





@media screen and (min-width: 520px){

.thumbnail1 img{
	width: 128%;
	margin-left: -14%;
	mix-blend-mode: lighten;
	margin-top: -5.6em;
	margin-bottom: -4.6em;
	}
.thumbnail11 img{
	width: 100%;
	margin-left: 0%;
}

}







@media screen and (min-width: 680px){
	.thumbnail1 img{
	margin-top: -7em;
	margin-bottom: -6em;
	}
	.find_found_aeng{
		display: flex;
		gap: 1em;
	}
	
.thumbnail12_aeng img{
	max-width: 320px;
}
.thumbnail12_find_aeng img{
	max-width: 320px;
}
.thumbnail12_found_aeng img{
	max-width: 320px;
}

.image-title23_aeng{
	max-width: 320px;
}
.image-title23_find_aeng{
	max-width: 320px;
}
.image-title23_found_aeng{
	max-width: 320px;

}
}

@media screen and (min-width: 800px){
	.thumbnail11 img{
		width: 80%;
		margin-left: 10%;
	}

	.image-title22{
		width: 80%;
		margin-left: 10%;
	}
	}

@media screen and (min-width: 800px){
	.thumbnail1 img{
		margin-bottom: -7.6em;
	}
}

@media screen and (min-width: 1400px){
	.find_found_aeng0{
		display: flex;
		gap:3em;
	}
}


.work_headline{
	display: inline-block;
    justify-content:left; /* Adjust as needed */
    gap: 0.25em;
    font-family: 'Maitree', serif;
    color: rgb(242, 244, 254);
    margin-left: 3%;
    text-align: left;
}

.work_title{
	font-size: 1.8em;
	margin-bottom: -.2em;
}
.work_year{
	font-size: 1em;
	margin-top: .6em;
}
.work_duration{
	font-size: .85em;
	margin-top: .78em;
	margin-left: .25em;
}
.work_title2{
	font-size: 1.32em;
}
.work_year2{
	font-size: .9em;
	margin-top: .4em;
}
.work_duration2{
	font-family: 'Anek Gujarati', serif;
	font-size: .8em;
	margin-top: .9em;
	margin-left: 0em;
	margin-bottom: 1em;
}
.work_title_korean{
font-family: 'Noto Serif KR', serif;
font-weight: 300;
font-size: 1.25em;
margin-bottom: .3em;
}
.work_title_korean2{
	font-family: 'Noto Serif KR', serif;
	font-weight: 300;
	font-size: 1.1em;
	}
.work_title_sub{
	margin-top: .29em;
	font-size: 1em;
}
.space_score{
	margin-left: 1.5em;
}

.space_video{
	width: auto;
	padding: 1em;
}
.space_links{
	margin-left: 3%;
	font-family: 'Anek Gujarati', serif;
	font-weight: 300;
	font-size: 1.1em;
	color: rgb(241, 227, 187);
	margin-bottom: 1em;
	margin-top: .3em;
	text-shadow: 0px 0px 2.5px rgb(241, 227, 187);
}
.space_links a{
	color: rgb(241, 227, 187);
	text-decoration: none;
}
.one_title{
	display: flex;
	gap:.3em;
}

@media screen and (min-width: 600px){
	.work_headline{
		margin-top: 8em;
	}
	.work_year2{
		margin-left: .6em;
	}
	.work_firstline{
		display: flex;
	}
}
@media screen and (min-width: 700px){
	.space_h {
		margin-top: 2em;
		font-size: 1.7em;
	}
	.space_h2 {
		margin-top: .4em;
		font-size: 2.7em;
	}
	.space_o8kk{
		margin-top: -6.5em;
		margin-left: .3em;
	}
	.space_o8kk p{
		font-size: 9em;
		margin-left: .4em;
	}
	.click{
		margin-top: -2em;
		margin-bottom: 5em;
		font-size: 1.1em;
	}
	.click2{
		font-size: 1.1em;
	}
	.space_moon img{
		top: 30em;
	}
	.work_headline{
		margin-top: 5em;
	}
}

@media screen and (min-width: 1100px){
	.space_moon img{
		top: 26em;
	}
}
@media screen and (min-width: 1000px){
	.space_moon img{
		top: 20em;
	}
}


.work_headline{
	margin-top: 10em;
}



/*creator*/
.creator_body{
	margin-top: -5.4em;
}

.line{
	margin-top: 1em;
	color:#edecff; 
	height: 0px;

}
.line2{
	margin-top: -2.05em;
}

.bio_intro{
	margin-top: 4em;
	font-family: 'M PLUS 1', sans-serif;
	text-align: left;
	font-size: .85em;
	color:#edecff; 
	padding: .5em;
	letter-spacing: .005em;
	line-height: 1.7em;
	margin-bottom: 3em;
	max-width: 800px;

}
.bio{
	margin-top: 3em;
	font-family: 'M PLUS 1', sans-serif;
	text-align: left;
	font-size: .80em;
	color:#edecff; 
	padding: .5em;
	letter-spacing: .005em;
	line-height: 1.7em;
	max-width: 800px;
}
.bio_englishname{
	font-family: "Urbanist", sans-serif;
	font-size: 1.7em;
	margin-bottom: 0.4em;
	max-width: 200px;
}
.bio_koreanname{
	align-items: end;
}

.bio_name{
	font-family: "Nanum Myeongjo", serif;
	font-size: 2.4em;
	margin-bottom: .47em;
	margin-top: 1em;
	font-style: bold;
	display: flex;
}
.bio_name img{
 max-width: 180px;
 mix-blend-mode: lighten;
 margin-top: -1.6em;
 margin-left: -3.5em;
}

.bio_name2{
	margin-top: -.7em;
}



.haran{
	margin-top: .17em;
	padding-right: .8em;
}



.bio_role b{
	font-family: "Marcellus", serif;
	font-weight: 300;
	font-size: 1.4em;

}
.bio_paragraph_intro{
	margin-bottom: 1.2em;
	margin-left: 1em;
}
.bio_paragraph0{
	max-width: 690px;
}
.bio_paragraph{
	font-family: "Red Hat Text", sans-serif;
	font-weight: 300;

	margin-bottom: 1.2em;
	line-height: 2.1em;
	font-size: 1.066em;
}
.bio_paragraph2{
margin-top: -.7em;
}
.bio_background{
margin-left: -20%;
margin-right: -150%;
}


.bio_paragraph_artist{
	font-family: 'M PLUS 1', sans-serif;
	margin-bottom: 1.2em;
	line-height: 2.8em;
	margin-top: 5.5em;
	font-weight: 200;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 3%;
	padding-bottom: 3%;
	max-width: 37%;
	margin-left: .6em;
	background: 
	radial-gradient(circle at center, transparent, transparent 50%, #000 51%),
	conic-gradient(from 0deg, #383b46, transparent 25%, #333642 50%, transparent 75%, #353842 100%);
}
	




.artist{
	font-size: 1.5em;
}

.bio_paragraph_work{
	margin-top: -2.5em;
	margin-bottom: 4.8em;
	font-size: 1.14em;
	font-family: "Nanum Myeongjo", serif;
	font-weight: 400;
	font-style: normal;
	color:rgb(238, 236, 251);
	line-height: 2.6em;
}


.resume{
	margin-top: 1em;
	font-family: 'M PLUS 1', sans-serif;
	text-align: left;
	font-size: .8em;
	color:#e5e7ff; 
	padding: .5em;
	letter-spacing: .005em;
	line-height: 1.7em;
}
.achievements{
	font-family: 'Anek Gujarati', serif;
	font-size: 1.4em;
	line-height: 2em;
	margin-bottom: .5em;
	margin-top: 9em;
	color:#dedfec; 
}
.list{
	margin-bottom: 2em;
	line-height: 2.2em;
	color:#dedfec; 
}
.portfolio {
	margin-left:-.65em;
	margin-top: 3.5em;
	font-family: 'M PLUS 1', sans-serif;
	text-align: left;
	font-size: 1.1em;
	color:#dedfec; 
	padding: .5em;
	letter-spacing: .005em;
	line-height: 1.7em;
}

.portfolio a{
	margin-top: 3.5em;
	font-family: 'M PLUS 1', sans-serif;
	text-align: left;
	color:#e5e7ff; 
	padding: .5em;
	letter-spacing: .005em;
	line-height: 1.7em;
	margin-right: -.5em;
}
.Works{
	font-family: 'Anek Gujarati', serif;
	font-size: 1.4em;
	margin-bottom: .5em;
	margin-top: 2em;
	color:#dedfec; 
}




.portrait img{
	width: 130px;
	align-items: center;
	margin-left: .1em;
	margin-bottom: 1.2em;
	margin-top: .5em;
	cursor: pointer; 
}
.popup{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
} 
.popup-content{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.popup-content img{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200%; 
    max-width: 800px; 
    height: auto; 
	min-height: auto;
    max-height: 80vh; 
}
.close {
	color: #fff;
	font-size: 2em;
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}
.email{
	font-family: "Saira Condensed", sans-serif;
	margin-top: .7em;
	margin-bottom: -2em;
	margin-left: .13em;
}
.email2{
	margin-bottom: 0em;

}
.email3{
	margin-left: 3.4%;
	margin-bottom: -1.6em;
	color: rgb(239, 239, 255);
	font-family: "Saira Condensed", sans-serif;
}


@media screen and (min-width: 470px){
	.creator_body{
		margin-top: -3.4em;
		margin-right: 5%;
		margin-left: 5%;
	}
	.bio_name{
			font-size: 2.4em;
	}
	.bio_name img{
		margin-top: -1.6em;
		margin-left: -2.8em;
	}
	.bio_role{
		font-size: 1.1em;
	}
	.bio_paragraph_artist{
		margin-left: 0em;
	}
	.bio_intro{
		margin-bottom: 0em;
	}	
}


@media screen and (min-width: 570px){
	.creator_body{
		margin-top: -3.4em;
		margin-right: 5%;
		margin-left: 5%;
	}

	.bio_background{
		margin-left: -10%;
		margin-right: -125%;
		}
}
@media screen and (min-width: 700px){
	.creator_body{
		margin-right: 9%;
		margin-left: 9%;

	}

}

@media screen and (min-width: 900px){
	.achievements{
		margin-bottom: 1em;
	}

	.bio{
		font-size: .85em;
	}
	.resume{
		font-size: .9em;
	}
	.portfolio {
		font-size: 1em;
	}
}

@media screen and (min-width: 1000px){	
.bio_intro{
	font-size: .9em;
}
.bio_background{
	margin-left: -10%;
	margin-right: -125%;
	}
	.bio_name img{
		max-width: 200px;
	}
	.bio_name2{
		margin-top: -1.7em;
	}
}




/*footer*/

.site-footer {
	margin-top: 12em;
}
.site-footer p{
	font-family: 'M PLUS 1', sans-serif;
	color: rgb(239, 239, 255);
	font-size: 0.85em;
	margin-left: 3.2%;
	margin-top: 0em;
	padding-top: 1em;
}

.icons{
	display: flex;
	margin-left: 3.2%;
	gap: 1em;

}

.youtube img{
	margin-top: .08em;
	width: 35px;
}
.instagram img{
	margin-top: 5px;
	margin-left: -5px;
	width: 26px;
}

.youtube svg{
		stroke-width: 1px; 
		fill: none;
}


@media screen and (min-width: 700px){
	.site-footer{
		margin-right: -2.5%;
		margin-left: -2.5%;
	}

}
