body{
	display: flex;
 	flex-direction: column;      /* stack elements vertically */
 	align-items: center;         /* center horizontally */
  	justify-content: flex-start;
	overflow-y: auto;
	min-height: 100vh;        /* full viewport height */
  	margin: 0;
  	padding: 0;
}

body, html {
    overflow-x: hidden;
}

.header{
	margin-bottom: 2em;
}


.thumbnail11 img{
	width: 100%;
	margin-left:0%;
	max-width: 600px;
	margin-top: .5em;
	margin-bottom: -1.8em;
}


.thumbnail10{

	margin-top: 2em;
	max-width: 600px;
}

.thumbnail11 iframe{
	max-width: 600px;
	margin-bottom: .5em;
	width: 94%;
	height: 260px;
	margin-left: 3%;
}






//////////////////////////////////////////////////////
.bio_paragraph0{
	color:black; 
	max-width: 680px;
	width: 95%;
	margin-left:2.5%;
}
.bio_paragraph00{
	margin-top: 1.5em;
	max-width: 600px;
}

.bio_paragraph{
	font-family: "Red Hat Text", sans-serif;
	margin-bottom: 1.2em;
	line-height: 2.2em;
	font-size: 0.92em;
	margin-left: 3%;
}




////////////////////////////////////////////////////
.site-footer footer{
	margin-top: 2em;
	align-item: left;
	min-width: 100px;
}

.site-footer p{
	font-family: 'M PLUS 1', sans-serif;
	color: black;
	font-size: 0.85em;
	margin-left: 3.2%;
	margin-top: 0em;
	padding-top: 1em;
}

.icons{
	display: flex;
	margin-left: 30px;
	gap: 1em;
	margin-bottom: -1em;
	margin-top: 3em;
	width: 13%;
}

.sns{
	margin-top: 1em;
	margin-bottom: -.4em;
	min-width: 300px;
}
.sns p{
	font-family: 'M PLUS 1', sans-serif;
	color: black;
	font-size: 0.74em;
	margin-left: 3.2%;
	margin-top: 2em;
	margin-bottom: -.2em;
}
.sns_first{
	margin-top: -1.2em;
	display: flex;
}
.sns_second{
	margin-top: -1.3em;
	margin-bottom: .6em;
	display: flex;
}


.youtube img{
	mix-blend-mode: Exclusion;
	margin-top: .08em;
	width: 36px;
}
.instagram img{
	mix-blend-mode: Exclusion;
	margin-top: 5px;
	margin-left: -5px;
	width: 27px;
}

@media screen and (min-width: 490px){
	.icons{
	margin-top: 4em;
	margin-bottom: -6.6em;
	}
	.youtube img{
	width: 40px;
	}
	.instagram img{;
	width: 31px;
	}
}
@media screen and (min-width: 600px){
	.icons{
	margin-top: 4.7em;
	margin-bottom: -7.3em;
	}
	.youtube img{
	width: 44px;
	}
	.instagram img{;
	width: 35px;
	}
}

.email2{
	margin-top:-2em;
	margin-bottom: 0em;
}

.email3{
	font-size: 0.82em;
	margin-left: 3.4%;
	margin-bottom: -1em;
	color:#808080; 
	font-family:'M PLUS 1', sans-serif;
}
	
.thumbnail12 img{
	width: 150px;
	margin-left: 3.2%;
	margin-top: 2em;
	margin-bottom: .8em;
	item-align: center;
}

@media screen and (min-width: 700px){
	.site-footer{
		margin-right: -2.5%;
		margin-left: -2.5%;
	}
}










































