body{
	background-color:white;
	overflow-y: auto;
}
body, html {
    overflow-x: hidden;
}


.thumbnail11 img{
	width: 97%;
	margin-left:1.5%;
	max-width: 600px;
	margin-top: 1em;
	margin-bottom: -1.8em;
}

.thumbnail12 img{
	width: 150px;
	margin-left: 3.2%;
	margin-top: -1.9em;
	margin-bottom: .8em;
}

.thumbnail10{
	width: 99%;
	margin-left:.5%;
	margin-top:.1em;
}

.thumbnail11 iframe{
	max-width: 600px;
	margin-bottom: 2em;
}


.bio_paragraph0{
	color:black; 
	max-width: 690px;
	width: 95%;
	margin-left:2.5%;
	
}

.bio_paragraph{
	font-family: "Red Hat Text", sans-serif;
	margin-bottom: 1.2em;
	line-height: 2.2em;
	font-size: 0.95em;
	margin-left: 3%;
}


.email2{
	margin-bottom: 0em;

}

.email3{
	margin-left: 3.4%;
	margin-bottom: -1.9em;
	color:black; 
	font-family: "Saira Condensed", sans-serif;
}



@media screen and (min-width: 1000px){	
	.bio_background{
		margin-left: -10%;
		margin-right: -125%;
	}
}





.site-footer {
	margin-top: 12em;
}

.site-footer p{
	font-family: 'M PLUS 1', sans-serif;
	color: black;
	font-size: 0.85em;
	margin-left: 3.2%;
	margin-top: 0em;
	padding-top: 1em;
}

.icons{
	display: flex;
	margin-left: 5%;
	gap: 1em;
	margin-bottom: -.2em;
	margin-top: 0.9em;

}

.youtube img{
	mix-blend-mode: Exclusion;
	margin-top: .08em;
	width: 35px;
}
.instagram img{
	mix-blend-mode: Exclusion;
	margin-top: 5px;
	margin-left: -5px;
	width: 26px;
}

.youtube svg{
		stroke-width: 1px; 
		fill: none;
}


@media screen and (min-width: 700px){
	.site-footer{
		margin-right: -2.5%;
		margin-left: -2.5%;
	}

}
